.first-section {
    padding-top: 150px;
    background: linear-gradient(0.76deg, #ffffff 14.78%, #135dfa 66.66%);
}
.max-w600px {
    max-width: 600px;
}
.max-w900px {
    max-width: 900px;
}
.img-play {
    position: relative;
    margin-top: 135px;
    height: 364px;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    @include media-down("lg") {
        margin-top: 40px;
        max-width: 600px;
        margin: auto;
    }
    @include media-down("sm") {
        height: 250px;
    }
}

.sign-card {
    text-align: center;
    border-radius: 30px;
    border: solid 2px #eef1f3;
    padding: 18px;
    max-width: 306px;
    min-height: 306px;
    position: relative;
    @include media-down("lg") {
        max-width: 100%;
    }
    .circle {
        position: absolute;
        top: -20px;
        right: -20px;
        width: 64px;
        height: 64px;
        border-radius: 65px;
        background-color: $primary;
        display: flex;
        align-items: center;
        justify-content: center;
        font: 600 32px $poppins;
        color: $white;
    }
    .title {
        padding-top: 6px;
        font: 600 32px $poppins;
        color: $black;
    }
    p {
        padding-top: 12px;
        font: 400 18px $poppins;
        color: $black;
    }
}

.whyUsList {
    list-style: none;
    gap: 50px;
    display: flex;
    flex-direction: column;
    li {
        display: flex;
        gap: 15px;
        .number {
            max-width: 43px;
            max-height: 43px;
            min-width: 43px;
            min-height: 43px;
            border-radius: 43px;
            display: flex;
            align-items: center;
            justify-content: center;
            border: solid 1px $gray-200;
            font: 700 24px $poppins;
            color: $gray-200;
        }
        .content {
            display: flex;
            flex-direction: column;
            .title {
                font: 600 24px $poppins;
                color: $gray-200;
                gap: 12px;
            }
            p {
                font: 400 18px $poppins;
                color: $gray-200;
            }
        }
    }
    @include media-down("lg") {
        gap: 30px;
        li {
            .number {
                max-width: 30px;
                max-height: 30px;
                min-width: 30px;
                min-height: 30px;
                border-radius: 30px;
                font: 700 16px $poppins;
            }
            .content {
                .title {
                    font: 600 16px $poppins;
                    gap: 8px;
                }
                p {
                    font: 400 14px $poppins;
                }
            }
        }
    }
}

.user-bg {
    background-image: url(../img/user-bg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    @include media-down("xxl") {
        background-size: cover;
    }
}
.faqs {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.faq-item {
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border-radius: 18px;
    padding: 40px 28px;
    border: 2px solid white;
    transition: 0.4s;

    .faq-title {
        display: flex;
        justify-content: space-between;
        align-items: center;
        cursor: pointer;

        h6 {
            font: 400 20px $poppins;
            color: #170f49;
        }
        .faq-icon {
            width: 50px;
            height: 50px;
            min-width: 50px;
            min-height: 50px;
            border-radius: 30px;
            background-color: $white;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 20px;
            color: $primary;
            box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
            transition: 0.4s;
            position: relative;
        }
    }
    .faq-content {
        overflow: hidden;
        max-height: 0;
        transition: $transition;
        p {
            font: 400 16px $poppins;
            color: #6f6c90;
            padding-top: 22px;
        }
    }
    &.active {
        box-shadow: 0px 6px 16px rgba(11, 145, 197, 0.35);
        border: 2px solid #125cf9;
        .faq-title {
            h6 {
                font-weight: 600;
            }
            .faq-icon {
                background-color: $primary;
                color: $white;
                rotate: 180deg;
            }
        }
    }
}

.customer-card {
    background-color: $white;
    border-radius: 24px;
    padding: 25px;
    position: relative;
    .icon-virgul {
        position: absolute;
        left: 25px;
        top: 25px;
        font-size: 30px;
        color: #ededed;
    }
    .head {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-bottom: 20px;
        .title {
            padding-top: 10px;
            font: 700 20px $poppins;
            color: $dark;
        }
        .sub-title {
            font: 700 20px $poppins;
            color: $gray-300;
        }
    }
    .content {
        font: 400 16px $poppins;
        color: #626262;
    }
}
